.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 2rem;
  padding: 4rem;
}

.bookItem {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  text-align: center;
}

.title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.coverImage {
  width: 110%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.scrollContainer {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.navbar {
  background-color: #332f2e;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.navbar-l {
  position: relative;
}

.navbar-r {
  display: flex;
  justify-content: center;
  align-items: start;
}

.navbar a {
  margin-right: 60px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.logo {
  max-width: 70px;
  width: 100%;
  height: auto;
}

.footer {
  background-color: #332f2e;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  position: fiexd;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  background: #020715;
  margin: 0;
}

.search-input {
  font-size: 14px;
  background-color: #f9f9f9;
  padding: 4px 20px;
  border: none;
  border-radius: 24px;
  width: 150px;
  outline: none;
  transition: width 0.3s ease-in-out;
}

.search-input:focus {
  width: 200px;
}

.row-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin-bottom: 100px;
}

.row-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin-bottom: 100px;
}

.row-container3 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
  margin-bottom: 100px;
}

.main-container {
  flex-direction: row;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  margin: 80px;
}

/* 스크롤바 전체 스타일 */
.scrollContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 스크롤바 배경 색상 및 예시 배경 스타일 */
.scrollContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

/* 스크롤 지시 자체를 위한 스타일 */
.scrollContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* 스크롤바 위에 마우스가 있을 때 지시자의 색상 변경 */
.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.coverImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5); /* 이미지에 그림자 효과를 추가합니다. */
}

.coverImage2 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}

.coverImage:hover {
  transform: scale(
    1.3
  ); /* 마우스를 올렸을 때 이미지 크기를 110%로 확대합니다. */
  z-index: 1;
}

.image-container {
  margin-bottom: -100px;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}

.category-container {
  display: flex; /* Flexbox를 사용하여 요소를 정렬합니다. */
  justify-content: center; /* 요소들을 가운데로 정렬합니다. */
  flex-wrap: wrap; /* 요소들이 컨테이너를 벗어나지 않고 적절하게 줄바꿈하도록 합니다. */
  flex-direction: row;
  align-items: center;
}

.category-title {
  display: flex; /* Flexbox를 사용하여 요소를 정렬합니다. */
  justify-content: center; /* 요소들을 가운데로 정렬합니다. */
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 3px;
  font-weight: bold;
  text-decoration-color: chocolate;
  font-size: 14px;
}

.button-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(8, 4fr);
  grid-template-rows: 4;
  margin: 16px;
}

.category-button {
  margin: 2px;
  border-radius: 10px;
  font-weight: bold;
  background: #fff;
  color: #000;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
  font-size: 12px;
  width: 100%;
}

.hover-container {
  position: absolute;
  top: 0%;
  left: 80%;
  width: 200px;
  height: 200px;
  background: #332f2e;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5); /* 이미지에 그림자 효과를 추가합니다. */
  color: #fff;
  font-weight: bold;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.image-container:hover .hover-container {
  opacity: 1;
}

.hover-index {
  font-size: 14px;
  margin: 4px;
  justify-content: space-between;
  display: flex;
  flex: 0.1;
}

.hover-title {
  font-size: 14px;
  align-self: center;
  margin: 4px;
  display: flex;
  flex: 0.7;
}

.hover-author {
  font-size: 12px;
  display: flex;
  align-self: flex-end;
  border-radius: 10px;
  margin: 4px;
  font-weight: bold;
  flex: 0.1;
  color: chocolate;
}

.hover-jenre {
  font-size: 14px;
  margin: 4px;
  display: flex;
}

.hover-online {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
  flex: 0.1;
  margin: 4px;
}

.main-category-container {
  height: 2000px;
  width: auto;
}

.navbar-title-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20px;
  color: #f1f1f1;
}

@keyframes scalion {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scalion2 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navbar1-icon,
.navbar2-icon,
.navbar3-icon {
  transition: background 0.5s ease-in-out;
  animation: 0s linear;
  margin: -5px;
  margin-right: -60px;
}

.navbar-icon-container {
  background: #fff;
  display: flex;
  transition: background 0.5s ease-in-out;
  animation: 0s linear infinite;
  justify-content: center;
  align-items: center;
}

.navbar1-icon:hover {
  animation: scalion 1s linear;
  background-image: url("/KR.png");
  background-position: center;
  background-size: cover;
}

.navbar2-icon:hover {
  animation: scalion2 1s linear;
  background-position: center;
  background-size: cover;
}

.navbar3-icon:hover {
  animation: scalion 1s linear;
  background-image: url("/JP.png");
  background-position: center;
  background-size: cover;
}

.navbar-icon-container:hover {
  background: #332f2e;
}

.home-status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.mates-container {
  width: 100%;
  display: flex;
  color: #f1f1f1;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: #000;
  min-height: 550px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mates-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bg5.png") no-repeat center center;
  background-size: cover;
  opacity: 0.4;
  pointer-events: none;
}

.mates-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-content: center;
  place-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.mates-board-container {
  flex: 0.9;
}

.mates-number-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0.1;
  background: #fff;
  color: #000;
}

.mates-board-btn button {
  width: 100%;
  height: auto;
}

.mates-board-btn h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  user-select: none;
  padding-inline: 12px;
  transition: background 0.3s;
}

.mates-board-btn h4:hover {
  background: #09c;
  color: #fff;
}

.mates-board-column {
  background: #fff;
  color: #000;
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  min-width: 80px;
}

.mates-board-column2 {
  visibility: hidden;
}
.search-container {
  display: flex;
}
.search-options-container {
  position: relative;
  display: inline-block;
}

.search-options {
  font-size: 14px;
  background: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-left: 8px;
  cursor: pointer;
}

.search-input2 {
  font-size: 14px;
  background-color: #f9f9f9;
  padding: 4px 20px;
  border: none;
  border-radius: 24px;
  width: 150px;
  outline: none;
  transition: width 0.3s ease-in-out;
}

.mates-board-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.mates-board-page span {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 4px;
  background-color: #f9f9f9;
  color: #000;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.3s;
}

.mates-board-page span:hover {
  background-color: #099;
  color: #fff;
}

.mates-board-page span.active {
  background-color: #099;
  color: #fff;
}

.mates-board-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.search-container2 {
  visibility: hidden;
}

.category-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
  border: 2px solid #332f2e;
  border-radius: 10px;
}

.category-country {
  margin-bottom: 100px;
  position: relative;
  background-color: #099;
  color: #fff;
  padding: 8px;
  font-size: small;
  border-radius: 4px;
}

.kind-container1 {
  margin-bottom: -80px;
  margin-top: 10px;
}

.kind-container2 {
  margin-bottom: -80px;
  margin-top: 90px;
}

.kind-container3 {
  margin-bottom: -80px;
  margin-top: 90px;
}

.kind-container4 {
  margin-bottom: -70px;
  margin-top: 90px;
}
