body {
  overflow: auto;
  zoom: 90%;
  font-family: "Pretendard-Regular";
  background: #020715;
  color: #fff;
  margin: 0;
}

select {
  font-family: "Pretendard-Regular";
}

button {
  font-family: "Pretendard-Regular";
}

span {
  font-family: "Pretendard-Regular";
}

input::placeholder {
  font-family: "Pretendard-Regular";
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 2rem;
  padding: 4rem;
  color: #000;
  min-height: 100vh;
}

.container2 {
  min-height: 90vh;
}

.bookItem {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  text-align: center;
}

.title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.scrollContainer {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.navbar {
  background-color: #332f2e;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}

.navbar-l {
  position: relative;
}

.navbar-r {
  display: flex;
  justify-content: center;
  align-items: start;
}

.navbar a {
  margin-right: 60px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.logo {
  max-width: 70px;
  width: 100%;
  height: auto;
}

.footer {
  background-color: #332f2e;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  position: fiexd;
  bottom: 0;
  left: 0;
  right: 0;
}

.search-input {
  font-size: 14px;
  background-color: #f9f9f9;
  padding: 4px 20px;
  border: none;
  border-radius: 24px;
  width: 150px;
  outline: none;
  transition: width 0.3s ease-in-out;
}

.search-input:focus {
  width: 200px;
}

.row-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin-bottom: 100px;
}

.row-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin-bottom: 100px;
}

.row-container3 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
  margin-bottom: 100px;
}

.main-container {
  flex-direction: row;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  margin: 80px;
}

/* 스크롤바 전체 스타일 */
.scrollContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 스크롤바 배경 색상 및 예시 배경 스타일 */
.scrollContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

/* 스크롤 지시 자체를 위한 스타일 */
.scrollContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* 스크롤바 위에 마우스가 있을 때 지시자의 색상 변경 */
.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.coverImage {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
}

.coverImage2 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}

.coverImage3 {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}

.coverImage4 {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
}

.coverImage:hover {
  transform: scale(1.2);
  z-index: 1;
}

.image-container {
  margin-bottom: -100px;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}

.category-title {
  display: flex; /* Flexbox를 사용하여 요소를 정렬합니다. */
  justify-content: center; /* 요소들을 가운데로 정렬합니다. */
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 3px;
  font-weight: bold;
  text-decoration-color: chocolate;
  font-size: 14px;
  margin-top: 120px;
}

.button-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(8, 4fr);
  grid-template-rows: 4;
  margin: 16px;
}

.category-button {
  margin: 2px;
  border-radius: 10px;
  font-weight: bold;
  background: #fff;
  color: #000;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
  font-size: 12px;
  width: 100%;
}

.hover-container {
  position: absolute;
  top: 0%;
  left: 80%;
  width: 250px;
  height: 300px;
  background: #332f2e;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7); /* 이미지에 그림자 효과를 추가합니다. */
  color: #fff;
  font-weight: bold;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.image-container:hover .hover-container {
  opacity: 1;
}

.hover-index {
  font-size: 14px;
  margin: 4px;
  justify-content: space-between;
  display: flex;
  flex: 0.1;
}

.hover-title {
  font-size: 14px;
  align-self: center;
  margin: 4px;
  display: flex;
  flex: 0.2;
}

.hover-intro {
  font-size: 14px;
  display: flex;
  align-self: flex-end;
  border-radius: 10px;
  margin: 4px;
  font-weight: bold;
  flex: 0.5;
  color: chocolate;
}

.hover-author {
  font-size: 12px;
  display: flex;
  align-self: flex-end;
  border-radius: 10px;
  margin: 4px;
  font-weight: bold;
  flex: 0.2;
  color: #099;
}

.hover-jenre {
  font-size: 14px;
  margin: 4px;
  display: flex;
}

.main-category-container {
  height: 2000px;
  width: auto;
}

.navbar-title-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  color: #f1f1f1;
}

@keyframes scalion {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scalion2 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navbar1-icon,
.navbar2-icon,
.navbar3-icon {
  transition: background 0.5s ease-in-out;
  animation: 0s linear;
  margin: -4px;
  margin-right: -60px;
}

.navbar-icon-container {
  background: #fff;
  display: flex;
  transition: background 0.5s ease-in-out;
  animation: 0s linear infinite;
  justify-content: center;
  align-items: center;
}

.navbar1-icon:hover {
  animation: scalion 1s linear;
  background-image: url("/KR.png");
  background-position: center;
  background-size: cover;
}

.navbar2-icon:hover {
  animation: scalion2 1s linear;
  background-position: center;
  background-size: cover;
}

.navbar3-icon:hover {
  animation: scalion 1s linear;
  background-image: url("/JP.png");
  background-position: center;
  background-size: cover;
}

.navbar-icon-container:hover {
  background: #332f2e;
}

.home-status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.mates-container {
  width: 100%;
  display: flex;
  color: #f1f1f1;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: #000;
  min-height: 550px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mates-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bg5.png") no-repeat center center;
  background-size: cover;
  opacity: 0.4;
  pointer-events: none;
}

.mates-board {
  width: 100%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-content: center;
  place-items: center;
  margin-top: 20px;
}

.mates-board-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: flex-end;
  position: absolute;
  bottom: 20px;
}

.mates-board-container {
  display: flex;
  flex-direction: column;
  flex: 0.9;
  min-height: 100%;
  align-items: flex-start;
  position: relative;
  color: #a9a9a9;
}

.mates-number-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 0.1;
  background: #fff;
  color: #000;
}

.mates-board-btn button {
  width: 100%;
  height: auto;
}

.mates-board-btn h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a9a9a9;
  color: #000;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  user-select: none;
  padding-inline: 12px;
  transition: background 0.3s;
}

.mates-board-btn h4:hover {
  background: #09c;
  color: #fff;
}

.mates-board-column {
  /* background: #fff; */
  color: chocolate;
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}

.mates-board-column2 {
  visibility: hidden;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-options-container {
  display: inline-block;
}

.search-options {
  font-size: 14px;
  background: #a9a9a9;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-left: 8px;
  cursor: pointer;
}

.search-input2 {
  font-size: 14px;
  background-color: #a9a9a9;
  padding: 4px 20px;
  border: none;
  border-radius: 24px;
  width: 150px;
  outline: none;
  transition: width 0.3s ease-in-out;
}

.mates-board-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.mates-board-page span {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 4px;
  background-color: #a9a9a9;
  color: #000;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.3s;
}

.mates-board-page span:hover {
  background-color: #099;
  color: #fff;
}

.mates-board-page span.active {
  background-color: #099;
  color: #fff;
}

.search-container2 {
  visibility: hidden;
}

.category-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  padding-inline: 50px;
  border: 2px solid #332f2e;
  /* border-radius: 10px; */
  transition: transform 0.3s;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  background-color: black;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(0, 0, 0, 0.1) 50%
    ); /* 그라디언트 */
  background-size: 100% 2px, 2px 100%; /* 그라디언트 사이즈 조절 */
  background-position: 0 0, 0 0; /* 그라디언트 위치 조절 */
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1),
    inset 0 2px 5px rgba(255, 255, 255, 0.1); /* 책꽂이의 입체감 표현 */
}

.category-country {
  margin-bottom: 100px;
  position: relative;
  background-color: #099;
  color: #fff;
  padding: 8px;
  font-size: small;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.kind-container1 {
  margin-bottom: -80px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.kind-container2 {
  margin-bottom: -80px;
  margin-top: 90px;
  margin-left: 100px;
  margin-right: 100px;
}

.kind-container3 {
  margin-bottom: -80px;
  margin-top: 90px;
  margin-left: 100px;
  margin-right: 100px;
}

.kind-container4 {
  margin-bottom: -70px;
  margin-top: 90px;
  margin-left: 100px;
  margin-right: 100px;
}

.mates-open-btn-container {
  position: relative;
}

.mates-open-btn {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.mates-open-btn:hover {
  background-color: #099;
  cursor: pointer;
}

.make-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 600px;
  height: 800px;
  overflow: auto;
  margin: 50px auto;
  color: #000;
}

.make-container h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.make-container input[type="text"] {
  /* width: 100%; */
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

#suggestions {
  position: absolute;
  z-index: 100;
  background-color: #000;
  color: #fff;
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

#suggestions li {
  padding: 5px 10px;
  cursor: pointer;
  /* font-size: 1rem; */
  border-bottom: 1px solid #ccc;
}

#suggestions li:hover {
  background-color: #099;
  color: #fff;
}

.make-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-top {
  flex: 0.3;
}

.book-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-top: 120px; */
  position: relative;
  flex: 0.65;
  flex-direction: column;
}

.book-info p {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-info img {
  /* border: 1px solid #000; */
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.7);
}

.make-selected {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.make-button {
  flex: 0.05;
  display: flex;
}

.make-button input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.make-button input[type="submit"]:hover {
  background-color: #099;
}

.readingRoom {
  display: flex;
  width: 100%;
  height: 900px;
  background: #00897b;
  color: #000;
  min-height: 90vh;
}

.room-sidebar {
  width: 20%;
  height: 100%;
  padding-inline: 20px;
  background-color: #f0f0f0;
  position: relative;
}

.room-sidebar2 {
  width: 1.5%;
  height: 100%;
  background-color: #f0f0f0;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease-in-out;
}

.room-sidebar2:hover {
  background-color: #009688;
  color: #fff;
  cursor: pointer;
}

.room-sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-btn {
  cursor: pointer;
}

.chatSpace {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatList {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatMessage {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.chatMessage .messageBubble {
  max-width: 70%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word;
}

.messageForm {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.messageInput {
  flex: 1;
  border: none;
  padding: 10px;
  margin-right: 10px;
  transition: border-radius 0.3s ease-in-out;
}

.submitButton {
  padding: 10px;
  background-color: #009688;
  border: none;
  color: #fff;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #00897b;
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleButton {
  width: 30%;
  padding: 10px;
  background-color: #009688;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.toggleButton:hover {
  background-color: #00897b;
}

.fullScreenButton {
  position: relative;
  background-color: #000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: color 0.2s ease-in-out;
}

.fullScreenButton-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.fullScreenButton:hover {
  color: chocolate;
}

.bookInfo {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 70%;
  margin: 20px auto;
}

.bookInfo p {
  font-size: 20px;
  color: #4a4a4a;
  margin: 0;
  text-align: left;
}

.bookInfo p:first-of-type {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #463c3c;
  margin-bottom: 20px;
}

.logout-btn {
  cursor: pointer;
}

.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signupForm {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.signupTitle {
  color: #333;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.inputField {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.inputField:focus {
  outline: none;
  border-color: #2a7800;
}

.submitButton2 {
  display: block;
  width: 100%;
  background-color: #3c8a31;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.submitButton2:focus,
.submitButton2:hover {
  background-color: #2a7800;
}

.input-invalid {
  border: 2px solid red;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.room-Leader {
  color: red;
  font-weight: bold;
}

.participant {
  position: relative;
  display: inline-block;
  /* background: red; */
  margin: 8px;
  width: auto;
}

.participantList {
  display: flex;
  flex-direction: column;
}
